<div>
    <h1>Доставка</h1>
    <br>
    
    <p>1. Доставка по Екатеринбургу. Зона 1 - Бесплатно<br>
        2. Доставка по Екатеринбургу. Зона 2  - 900р.<br>
        3. Доставка по Екатеринбургу. Зона 3 - По согласованию.<br>
        3. Доставка  до терминала ТК в Екатеринбурге - Бесплатно<br>
        4. Самовывоз<br>
        (вся доставка до подъезда)<br>
        Оплаты доставки на сайте нет! <br>
        Условия подъема на этажи.<br>
    </p>
    <br>
    <br><br><br><br><br>
</div>