@model DeliveryModel
<div class="delivery">
<div class="main_content_inner">
    <div class="about_content inside_block">
                        <h1><span style="color:#FF8C00;">Доставка и сопутствующие услуги&nbsp;Казань</span></h1>
    
    <p><a href="https://www.citilink.ru/actions/306089/"><img alt="" src="https://content.s1.citilink.ru/22_kzn_cl_1591175366.jpg" style="width: 983px; height: 180px;"></a></p>
    
    <p style="margin-top: -0.5em;"><strong>Стандартная доставка</strong>&nbsp;осуществляется в будние, выходные и праздничные дни.</p>
    
    <p><strong>Доставка в пределах города</strong>&nbsp;<strong>c 10:00 до 21:00</strong>&nbsp;в один из выбранных временных интервалов:</p>
    
    <table class="data"><tbody><tr>
    <td><strong style="color: rgb(0, 153, 255); text-align: center;">с 10:00 до 18:00</strong></td>
    			<td><strong style="color: rgb(0, 153, 255); text-align: center;">с 10:00 до 14:00</strong></td>
    			<td><strong style="color: rgb(0, 153, 255); text-align: center;">с 14:00 до 18:00</strong></td>
    			<td><strong style="color: rgb(0, 153, 255); text-align: center;">с 18:00 до 21:00</strong></td>
    		</tr></tbody></table>
    <p><strong>Доставка&nbsp;за пределы города&nbsp;</strong>во временной интервал&nbsp;<strong>с 10:00 до 18:00</strong></p>
    
    <h3><font color="#ff8c00">Стоимость</font></h3>
    
    <table cellpadding="0" cellspacing="0" class="data" width="718">
    <thead><tr>
    <th scope="col" style="width: 246px; height: 1px;">
    			<p><br><span style="font-size:14px;"><span style="color:#000000;"><strong>Границы доставки&nbsp;</strong></span></span></p>
    			</th>
    			<th scope="col" style="width: 190px; height: 1px;">
    			<p><span style="font-size:14px;"><span style="color:#000000;"><strong>Объем&nbsp;до 0,2 м<sup>3</sup><br>
    			масса&nbsp;до 30 кг</strong></span></span></p>
    			</th>
    			<th scope="col" style="width: 150px; height: 1px;">
    			<p><span style="font-size:14px;"><span style="color:#000000;"><strong>Крупногабаритный свыше 0,2 м<sup>3</sup><br>
    			или 30 кг.</strong></span></span></p>
    			</th>
    		</tr></thead>
    <tbody>
    <tr>
    <td style="width:246px;height:1px;">
    			<p><span style="font-size:14px;">В пределах Казани</span></p>
    			</td>
    			<td style="width:142px;height:1px;">
    			<p align="center">250&nbsp;<span style="font-family: RubPTSans; text-align: right;">б</span></p>
    			</td>
    			<td style="width:104px;height:1px;">
    			<p align="center">390<span style="font-family: RubPTSans; text-align: right;">б</span></p>
    			</td>
    		</tr>
    <tr>
    <td style="width:246px;height:1px;">
    			<p><span style="font-size: 14px;">До 20 км от Казани</span></p>
    			</td>
    			<td style="width:142px;height:1px;">
    			<p align="center">350&nbsp;<span style="font-family: RubPTSans; text-align: right;">б</span></p>
    			</td>
    			<td style="width:104px;height:1px;">
    			<p align="center">500&nbsp;<span style="font-family: RubPTSans; text-align: right;">б</span></p>
    			</td>
    		</tr>
    <tr>
    <td style="width:246px;height:1px;"><span style="font-size: 14px; background-color: rgb(251, 250, 249);">До 40 км от Казани</span></td>
    			<td style="width: 142px; height: 1px; text-align: center;">
    <span style="text-align: -webkit-center; background-color: rgb(251, 250, 249);">390&nbsp;</span><span style="background-color: rgb(251, 250, 249); font-family: RubPTSans; text-align: right;">б</span>
    </td>
    			<td style="width: 104px; height: 1px; text-align: center;">
    <span style="text-align: -webkit-center; background-color: rgb(251, 250, 249);">550&nbsp;</span><span style="background-color: rgb(251, 250, 249); font-family: RubPTSans; text-align: right;">б</span>
    </td>
    		</tr>
    <tr>
    <td style="width:246px;height:1px;"><span style="font-size: 14px; background-color: rgb(251, 250, 249);">До 60 км от Казани</span></td>
    			<td style="width: 142px; height: 1px; text-align: center;">390&nbsp;<span style="font-family: RubPTSans; text-align: right; background-color: rgb(251, 250, 249);">б</span>
    </td>
    			<td style="width: 104px; height: 1px; text-align: center;">650&nbsp;<span style="font-family: RubPTSans; text-align: right; background-color: rgb(251, 250, 249);">б</span>
    </td>
    		</tr>
    <tr>
    <td style="width:246px;height:1px;"><span style="font-size: 14px; background-color: rgb(251, 250, 249);">До 80 км от Казани</span></td>
    			<td style="width: 142px; height: 1px; text-align: center;">1000&nbsp;<span style="font-family: RubPTSans; text-align: right; background-color: rgb(251, 250, 249);">б</span>
    </td>
    			<td style="width: 104px; height: 1px; text-align: center;">1250&nbsp;<span style="font-family: RubPTSans; text-align: right; background-color: rgb(251, 250, 249);">б</span>
    </td>
    		</tr>
    <tr>
    <td style="width:246px;height:1px;"><span style="font-size: 14px; background-color: rgb(251, 250, 249);">До 100 км от Казани</span></td>
    			<td style="width: 142px; height: 1px; text-align: center;">1500&nbsp;<span style="font-family: RubPTSans; text-align: right; background-color: rgb(251, 250, 249);">б</span>
    </td>
    			<td style="width: 104px; height: 1px; text-align: center;">1750&nbsp;<span style="font-family: RubPTSans; text-align: right; background-color: rgb(251, 250, 249);">б</span>
    </td>
    		</tr>
    </tbody>
    </table>
    <p><strong>Доставка “день в&nbsp;день” </strong>только в&nbsp;будние дни <strong>с 12:00&nbsp;до 20:00</strong>&nbsp;в&nbsp;день приема заказа, если:</p>
    
    <ul style="margin-left: 40px;">
    <li>
    <strong>•</strong>&nbsp;Заказ был оформлен и подтвержден нашим оператором до <strong>15:00</strong>
    </li>
    	<li>
    <strong>•</strong>&nbsp;Доставка осуществляется ежедневно, только в пределах Казани.</li>
    	<li>
    <strong>•</strong>&nbsp;Время доставки согласовывается через&nbsp;Call-центр по&nbsp;многоканальному телефону +7(8332) 255-000 или&nbsp;менеджером торгового зала.</li>
    </ul>
    <h3><span style="color:#FF8C00;">Стоимость доставки «день в день»</span></h3>
    
    <table class="data"><tbody><tr>
    <td style="text-align: center;">
    			<p><br><strong>"День в день" в пределах Казани</strong></p>
    			</td>
    			<td style="text-align: center;">Заказ объемом до 0,2&nbsp;<span style="font-size: 11px; text-align: center;">м</span><span style="position: relative; top: -0.5em; font-size: 8.25px; vertical-align: baseline; text-align: center;">3</span>&nbsp;<br>
    			и весом до 30 кг<br><strong>500&nbsp;<span style="font-family: RubPTSans; text-align: right;">б</span></strong>
    </td>
    			<td>
    			<p style="text-align: center;"><span style="background-color: rgb(251, 250, 249);">Заказ объемом свыше&nbsp;0,2&nbsp;</span><span style="font-size: 11px; text-align: center;">м</span><span style="position: relative; top: -0.5em; font-size: 8.25px; vertical-align: baseline; text-align: center;">3</span><span style="background-color: rgb(251, 250, 249);">&nbsp;</span><br><span style="background-color: rgb(251, 250, 249);">и вес от 30 кг</span><br><strong><span style="background-color: rgb(251, 250, 249);">1000&nbsp;</span><span style="font-family: RubPTSans; text-align: right;">б</span></strong></p>
    			</td>
    		</tr></tbody></table>
    <h4>Доставка заказов общим объемом более 1.5 м<sup>3</sup> или массой более 500 кг:</h4>
    
    <ul style="margin-top: 1em; margin-left: 40px;">
    <li>
    <strong>•</strong>&nbsp;Оператор Call-центра свяжется с вами для уточнения стоимости услуги после оформления заказа.</li>
    	<li>
    <strong>•</strong>&nbsp;Услуга оказывается при условии полной предварительной оплаты</li>
    </ul>
    <p>&nbsp;</p>
    
    <p><strong><span style="color: rgb(255, 0, 0);">При доставке на территорию с оплачиваемым въездом покупатель оплачивает стоимость въезда, в иных случаях доставка осуществляется только до места платного въезда.</span></strong></p>
    
    <p>&nbsp;</p>
    
    <h3><span style="color:#FF8C00;">Подъем крупногабаритного товара на этаж</span></h3>
    
    <h4>&nbsp;</h4>
    
    <p><strong style="font-size: 16px;">Подъем крупногабаритного товара</strong><span style="font-size: 16px;"> на этаж осуществляется:</span></p>
    
    <p>– на грузовом лифте</p>
    
    <p>– ручной подъем.</p>
    
    <blockquote>
    <strong>!</strong> Если товар в упаковке не проходит в дверной проем подъезда или квартиры, он доставляется к подъезду или на лестничную площадку.</blockquote>
    
    <p>Занос товара внутрь частного строения приравнивается к ручному подъему товара на один этаж и оплачивается дополнительно.</p>
    
    <h3><span style="color:#FF8C00;">Стоимость услуги «подъем товара на этаж»:</span></h3>
    
    <table cellpadding="0" cellspacing="0" class="data">
    <thead><tr>
    <th scope="col" style="width: 130px; height: 35px;">
    			<p><strong>Вес</strong></p>
    			</th>
    			<th scope="col" style="width: 265px; height: 35px;">
    			<p align="center"><strong>Подъем на грузовом лифте</strong></p>
    
    			<p align="center">(за одну единицу товара)</p>
    			</th>
    			<th scope="col" style="width: 293px; height: 35px;">
    			<p align="center"><strong>Ручной подъем</strong></p>
    
    			<p align="center">(каждый этаж, за одну единицу товара)</p>
    			</th>
    		</tr></thead>
    <tbody>
    <tr>
    <td style="width:130px;">
    			<p>До 50 кг</p>
    			</td>
    			<td style="width:265px;">
    			<p align="center"><strong>200</strong></p>
    			</td>
    			<td style="width:293px;">
    			<p align="center"><strong>50</strong></p>
    			</td>
    		</tr>
    <tr>
    <td style="width:130px;">
    			<p>От 50 до 100кг</p>
    			</td>
    			<td style="width:265px;">
    			<p align="center"><strong>250</strong></p>
    			</td>
    			<td style="width:293px;">
    			<p align="center"><b>100</b></p>
    			</td>
    		</tr>
    <tr>
    <td style="width:130px;">
    			<p>От 100 до 120кг</p>
    			</td>
    			<td style="width:265px;">
    			<p align="center"><strong>300</strong></p>
    			</td>
    			<td style="width:293px;">
    			<p align="center"><strong>150</strong></p>
    			</td>
    		</tr>
    </tbody>
    </table>
    <p><em>* Крупногабаритный — единица товара объемом более 0.2 м. куб. или массой более 30 кг. Товар по объему менее 0.2 м.куб. и массой менее 30 кг. является мелкогабаритным.</em></p>
    
    <blockquote>
    <strong>!</strong> В случае, если в заказе с оплаченной услугой подъема крупногабаритного товара, есть товар, габариты которого менее 0,2 м<span style="position: relative; top: -0.5em; font-size: 12px; vertical-align: baseline;">3</span>&nbsp;и вес до 30 кг, то он поднимается бесплатно</blockquote>
    
    <h4>Для крупногабаритных товаров (объемом более 1.5 м<sup>3</sup>&nbsp;или массой более 150 кг):</h4>
    
    <ul style="margin-left: 40px;">
    <li>•&nbsp;Оператор Call-центра свяжется с вами для уточнения стоимости услуги после оформления заказа.</li>
    	<li>•&nbsp;Услуга оказывается при условии полной предварительной оплаты</li>
    </ul>
    <h3><span style="color:#FF8C00;">Передача товаров&nbsp;</span></h3>
    
    <ul style="margin-left: 40px;">
    <li>
    <strong>•</strong> Если Вы&nbsp;получаете только новый товар, убедитесь в&nbsp;этом.</li>
    	<li>
    <strong>•</strong> Осмотрите товар на&nbsp;предмет соответствия заказу, отсутствия механических повреждений, комплектности, наличия сопроводительной и&nbsp;гарантийной документации.</li>
    	<li>&nbsp;</li>
    </ul>
    <blockquote>
    <ul>
    <li>
    <strong>!&nbsp;</strong>Процедура передачи товаров не&nbsp;предусматривает его тестирования и&nbsp;ожидания экспедитором результатов, по следующим причинам:</li>
    </ul>
    <div>
    <ul>
    <li>
    <strong>•</strong>&nbsp;Большинство технически сложных товаров требует предварительного Вашего ознакомления с&nbsp;руководством по&nbsp;эксплуатации</li>
    	<li>
    <strong>•</strong>&nbsp;Немедленное включение электронной техники в зимнее время года является нарушением условий эксплуатации</li>
    	<li>
    <strong>•</strong>&nbsp;Процедура тестирования или проверки товара должна проводиться в закрытом оборудованном помещении специально обученным техническим специалистом.</li>
    </ul>
    </div>
    </blockquote>
    
    <ul>
    <li>&nbsp;</li>
    </ul>
    <blockquote>
    <strong>&nbsp;Помните!</strong>&nbsp;В течение 7 (семи) дней после получения товара Вы&nbsp;вправе отказаться от&nbsp;покупки, если не&nbsp;эксплуатировали товар и&nbsp;полностью сохранили его упаковку и&nbsp;товарный вид. Стоимость услуги доставки при этом не&nbsp;возмещается.</blockquote>
    
    <h3><span style="color:#FF8C00;">Сопровождающие документы</span></h3>
    
    <p>&nbsp;</p>
    
    <p><strong>Совместно с товаром, экспедитор обязан передать Вам:</strong></p>
    
    <table cellpadding="0" cellspacing="0" class="data">
    <thead><tr>
    <th scope="col" style="width: 244px;">
    			<p align="center"><strong>Для физических лиц</strong></p>
    			</th>
    			<th scope="col" style="width: 244px;">
    			<p align="center"><strong>Для юридических лиц</strong></p>
    
    			<p align="center"><strong>(безналичная оплата)</strong></p>
    			</th>
    			<th scope="col" style="width: 244px;">
    			<p align="center"><strong>Для юридических лиц </strong></p>
    
    			<p align="center"><strong>(наличная оплата)</strong></p>
    			</th>
    		</tr></thead>
    <tbody>
    <tr>
    <td style="width:244px;">
    			<p align="center">Кассовый чек</p>
    			</td>
    			<td style="width:244px;">
    			<p align="center">-</p>
    			</td>
    			<td style="width:244px;">
    			<p align="center">Кассовый чек</p>
    			</td>
    		</tr>
    <tr>
    <td style="width:244px;">
    			<p align="center">Гарантийные талоны с необходимыми отметками</p>
    			</td>
    			<td style="width:244px;">
    			<p align="center">Гарантийные талоны с необходимыми отметками</p>
    			</td>
    			<td style="width:244px;">
    			<p align="center">Гарантийные талоны с необходимыми отметками</p>
    			</td>
    		</tr>
    <tr>
    <td style="width:244px;">
    			<p align="center">Товарный чек</p>
    			</td>
    			<td style="width:244px;">
    			<p align="center">-</p>
    			</td>
    			<td style="width:244px;">
    			<p align="center">-</p>
    			</td>
    		</tr>
    <tr>
    <td style="width:244px;">
    			<p align="center">-</p>
    			</td>
    			<td style="width:244px;">
    			<p align="center">Товарная накладная</p>
    			</td>
    			<td style="width:244px;">
    			<p align="center">Товарная накладная</p>
    			</td>
    		</tr>
    <tr>
    <td style="width:244px;">
    			<p align="center">-</p>
    			</td>
    			<td style="width:244px;">
    			<p align="center">Счет-фактура</p>
    			</td>
    			<td style="width:244px;">
    			<p align="center">Счет-фактура</p>
    			</td>
    		</tr>
    <tr>
    <td style="width:244px;">
    			<p align="center">-</p>
    			</td>
    			<td style="width:244px;">
    			<p align="center">Приложение к товарной накладной</p>
    			</td>
    			<td style="width:244px;">
    			<p align="center">Приложение к товарной накладной</p>
    			</td>
    		</tr>
    <tr>
    <td style="width:244px;">
    			<p align="center">-</p>
    			</td>
    			<td style="width:244px;">
    			<p align="center">-</p>
    			</td>
    			<td style="width:244px;">
    			<p align="center">Квитанция к РКО</p>
    			</td>
    		</tr>
    </tbody>
    </table>
    <h3 style="margin-top: 1em; font-size: 21.92px;"><span style="color: rgb(255, 140, 0);">Условия оказания услуги Доставка:</span></h3>
    
    <ul style="margin-left: 40px;">
    <li>
    <strong>•</strong>&nbsp;Услуга оказывается при условии наличия товара на складе отгрузки и после подтверждения возможности отгрузки менеджером.</li>
    	<li>
    <strong>•</strong>&nbsp;Заказы стоимостью свыше 100&nbsp;000 рублей доставляются по предварительному согласованию.<br><strong>•</strong>&nbsp;Заказы стоимостью свыше 200&nbsp;000 рублей без предварительной оплаты не доставляются.</li>
    </ul>
    <h3 style="margin-top: 1em; font-size: 21.92px;"><span style="color: rgb(255, 140, 0);">Доставка не осуществляется:&nbsp;</span></h3>
    
    <ul style="margin-top: 1em; margin-left: 40px;">
    <li>
    <strong>•</strong>&nbsp;На стройплощадки, вокзалы, в транспортные компании, садово-огородные товарищества, цеха, пункты общественного питания (за исключением их административных помещений), режимные, секретные и несуществующие объекты.</li>
    	<li>
    <strong>•</strong>&nbsp;В парки, лесные массивы, на пляжи или иные места, не имеющие определенного адреса, либо условий для передачи товаров и сопроводительной документации, получения оплаты, а также если проезд к месту передачи товара невозможен на расстояние более чем 100 метров.</li>
    	<li>
    <strong>•</strong>&nbsp;По дорогам с нетвердым покрытием.</li>
    	<li>
    <strong>•</strong>&nbsp;В случае, если с клиентом не удалось связаться.</li>
    </ul>
    <ul style="margin-left: 40px;">
    <li>&nbsp;</li>
    </ul>
    <h1><span style="color:#FF8C00;">Самовывоз</span></h1>
    
    <p>Закажите сейчас&nbsp;— заберите в удобном для Вас магазине или пункте выдачи заказа.&nbsp;</p>
    
    <ul style="margin-left: 40px;">
    <li>•&nbsp;Мы доставим заказ как можно скорее в удобный для вас пункт выдачи. Дата доставки уточняется при оформлении.</li>
    	<li>•&nbsp;Подтверждение по смс оповестит Вас о том, что заказ прибыл в выбранный пункт самовывоза.</li>
    	<li>•&nbsp;Ожидание заказа в пункте выдачи составляет 3 дня с момента прибытия.</li>
    	<li>•&nbsp;Стоимость доставки до пункта самовывоза зависит от удаленности и указана в карточке товара и в корзине на этапе оформления товара</li>
    	<li>•&nbsp;Заказы стоимостью свыше 200&nbsp;000 рублей доставляются только после предварительной оплаты.</li>
    	<li>&nbsp;</li>
    </ul>
    
    <blockquote>Проверить возможность оформления доставки крупногабаритного* товара в пункт самовывоза можно на странице&nbsp;<a href="https://www.citilink.ru/about/stores/">адресов магазинов и пунктов выдачи</a>, выбрав в фильтре(используя фильтр): получение крупногабаритного товара</blockquote>
    
    <pre>* Крупногабаритный — единица товара объемом более 0.2 м<sup>3</sup> или массой более 30 кг.
    </pre>
    
                    <h1>&nbsp;</h1>
                    </div>
                </div>
</div>