<div>
    <h1>Контакты</h1>
    <br>
    <h4>Адрес: </h4>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;  г. Екатерибург, улица Луначарского, 137
    </p>
    <br>
    <h4>Телефоны: </h4>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp; моб. телефон: +7-912-28-58-696<br>
        &nbsp;&nbsp;&nbsp;&nbsp; тел: (343) 211-08-01<br>
        &nbsp;&nbsp;&nbsp;&nbsp; тел/факс: (343) 350-46-72<br>
    </p>
    <div>
        <br>
        <h4>Часы работы:</h4>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;   Пн – Пт: с 10-00 до 19-00 <br>
            &nbsp;&nbsp;&nbsp;&nbsp;   Сб: с 11-00 до 18-00 <br>
            &nbsp;&nbsp;&nbsp;&nbsp;   Вс: с 11-00 до 17-00 <br>
        </p>
        <br>
    </div>
</div>